/* Global */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body { 
    background-color: rgb(39, 39, 216);
    margin-bottom: 100px;
}

/* Header */
header {
    display: inline-flex;
    float: left;
    margin: 0;
    padding: 10px;
        
}

h1 {
    font-size: 40px;
    color: #00bbff;
    margin: 0;
    font-family: sans-serif;
}

header img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    padding: 10px;
}

/* Navbar */
nav {
    float: right;
}

nav {
    padding-top: 10px;
    padding-right: 20px;
    font-family: Times;
    font-size: 25px;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 25px;
    float: left;
}

a {
    text-decoration: none;
    color: #00bbff;
}

nav a:hover {
    color: #00bbff;
    font-weight: bold;
}

/* Background Img */ 
.nature {
    height: 800px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url("./assets/images/Woman in nature - 1280x854.jpg");
    background-size: cover;
    background-position: center;
}

/* About, Projects, & Contact Info */
#about h2, #projects h2, #contact h2 {
    padding: 20px;
    display: flex;
    font-family: arial;
    color: #00bbff;
}

.background {
    font-size: 20px;
    color: #00bbff;
    margin-top: 50px;
    padding: 10px;
    font-family: arial;
}

#projects, #about, #contact {
    display: flex;
}

#about img, #projects img {
    max-height: 200px;
    margin-left: 25px;
    display: flex;
    border-radius: 10px;
    border: 3px #00bbff solid;
}

#about, #projects, #contact {
    margin-bottom: 35px;
    margin-top: 35px;
}

.project1 h3, .project2 h3 {
    padding: 10px;
    margin-left: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00bbff;
}

.project1, .project2 {
    padding: 10px;
    margin-top: 40px;
    
}

#zoom:hover {
    transform: scale(1.5);
}
#projects h2 {
    padding: 20px;
    color: #00bbff;
    justify-content: space-between;
}

.box {
    align-items: center;
    margin-top: 40px;
    position: relative;
    color: #00bbff;
    font-family: arial;
    padding: 40px;
}

.email, .phone, .linkedin, .github {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

/* Media Query */
@media screen and (max-width: 768px) {
    header,
    nav, section, #contact, #projects {
      flex-direction: column;
    }
    
}
  